body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Align */

#aboutMe,
#experts {
  margin: 0 auto;
  padding: 40px 10%;
  max-width: 1200px;
}

.column h1 {
  display: flex;
  justify-content: flex-start;
}

.section-1,
.section-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  color: white;
  background-color: #1f2937;
  padding-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.nav-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 100px auto;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left h1 {
  width: 400px;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
  flex: 1;
}
.left p {
  width: 400px;
  font-size: 18px;
  color: darkgray;
  flex: 1;
}

.left button {
  background-color: #3882f6;
  width: 100px;
  color: white;
  padding: 8px 8px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}

div .right {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.column h1 {
  display: flex;
  justify-content: left;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.headerLeft {
  display: flex;
  justify-content: left;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  margin: center;
}

#aboutPara {
  text-align: left;
  font-weight: 500;
  line-height: 16px;
  width: 300px;
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
}
.aboutImages {
  display: flex;
  gap: 10px;
}

.aboutImg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: flex;
  margin: auto;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  border: 5px solid #3882f6;
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

.section-3 {
  background-color: #e5e7eb;
  width: 100%;
  margin: 0px auto;
  padding: 50px 0;
}

.section-3-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 200;
  width: 50%;
  margin: 0 auto;
}

.section-3-container p {
  font-size: 24px;

  font-weight: light;
}

#styleUnder {
  font-style: italic;
  text-decoration: underline;
}

.section-3 blockquote {
  align-self: flex-end;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.section-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: white;
  background-color: #1f2937;
  padding-bottom: 20px;
}

.topicMap h1 {
  color: #fff;
  display: flex;
  margin-left: 400px;
}

.topicMap p {
  text-align: center;
}

.topic {
  width: 700px;
  height: 600px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
/* .cta-container {

} */

.cta-text {
  padding: 10px 40px;
}

.cta-flex {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 40px;
}

.cta-flex button {
  color: white;
  background-color: darkgray;
  border: 2px solid white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
}

footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 30px;
}

/* Additional Styling */
a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}

/* article link */
.link {
  text-decoration: underline;
  color: #06c;
}

.link:hover {
  color: #06c;
  text-decoration: none;
}

.link:before {
  text-decoration: none;
}
